<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Copyright © 2023-present</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="//jmni.cn"
    >
      Jmni
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://beian.miit.gov.cn/" target="_blank"
    >
    豫ICP备2022011760号-2
    </a>
  </p>
</footer>