---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---
<!-- ChatGPT -->
<header>
  <div class="flex justify-between item-center" m="b6">
    <span class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">Jmni</span>
    <div class="flex justify-between item-center">
      <Themetoggle />

    </div>
  </div>
</header>